@model ePubAnalyzer.Shared.Entities.Book
@{
    ViewData["Title"] = "Home Page";
}

<form class="subform" asp-controller="Book" asp-action="UpdateBookData" method="post">
	<legend>@Model.Author - @Model.Title</legend>
	<p>@Html.ActionLink("< Back", "Index")</p>
	<input type="hidden" asp-for="@Model.BookID" />
	<dl>
		<dt>DB Identifier</dt>
		<dd>@Model.BookID</dd>
	</dl>
	<dl>
		<dt>Identifier</dt>
		<dd><input type="text" asp-for="@Model.Identifier"/></dd>
	</dl>
	<dl>
		<dt>Title</dt>
		<dd><input type="text" asp-for="@Model.Title"/></dd>
	</dl>
	<dl>
		<dt>Author</dt>
		<dd><input type="text" asp-for="@Model.Author"/></dd>
	</dl>
	<dl>
		<dt>Description</dt>
		<dd><textarea asp-for="@Model.Description"></textarea></dd>
	</dl>
	<dl>
		<dt>Medium</dt>
		<dt>
			<select asp-for="@Model.Medium">
				<option></option>
				<option>ebook</option>
				<option>Physical</option>
				<option>Bundle</option>
			</select>
		</dt>
	</dl>
	<button type="submit" class="confirm">Update book data</button>
</form>

<form asp-controller="Book" asp-action="UpdateReadStatus" method="post">
	<input type="hidden" asp-for="@Model.BookID" />
	<legend>Read status</legend>
	<dl>
		<dt>Read Status</dt>
		<dd>
			<select asp-for="@Model.ReadStatus">
				<option></option>
				<option class="read">Read</option>
				<option class="reading">Reading</option>
				<option class="toread">To read</option>
				<option class="notgoingtoread">Not going to read</option>
			</select>
		</dd>
	</dl>
	<dl>
		<dt>Remark</dt>
		<dd>
			<textarea asp-for="@Model.ReadRemark"></textarea>
		</dd>
	</dl>
	<button type="submit">Update read status</button>
</form>

<form asp-controller="Book" asp-action="UpdateAvailabilityStatus" method="post">
	<input type="hidden" asp-for="@Model.BookID" />
	<legend>Availability</legend>
	<dl>
		<dt>Status</dt>
		<dd>
			<select asp-for="@Model.Status">
				<option></option>
				<option>N/A</option>
				<option>Available</option>
				<option>Lend-out</option>
				<option>Available at other location</option>
			</select>
		</dd>
	</dl>
	<dl>
		<dt>Remark</dt>
		<dd>
			<textarea asp-for="@Model.StatusRemark"></textarea>
		</dd>
	</dl>
	<button type="submit">Update availability status</button>
</form>

@section Scripts
{
<script>
	$(document).ready(function() 
	{
		$(".confirm").click(function() 
		{ 
			return confirm("Save data?"); 
		});
	});
</script>
}