@model System.Collections.Generic.IEnumerable<ePubAnalyzer.Shared.Entities.Book>
@{
    ViewData["Title"] = "Home Page";
}


<h1>Boooks</h1>
Amount: @Model.Count()
<table>
	<colgroup>
		<col width="50"/>
		<col width="100"/>
		<col width="200"/>
		<col width="*"/>
	</colgroup>
	<tr>
		<th>ID</th>
		<th>Status</th>
		<th>Author</th>
		<th>Title</th>
	</tr>
@foreach(var b in Model)
{
	<tr state="@b.ReadStatus">
		<td>@Html.ActionLink($"{b.BookID}", "Details", new { id = b.BookID })</td>
		<td title="@b.ReadRemark">@b.ReadStatus</td>
		<td>@b.Author</td>
		<td>@b.Title</td>
	</tr>
}
</table>